@import "modules/_common.scss";
@import "modules/_header.scss";
@import "modules/_footer.scss"; 
@import "modules/_hero.scss";
@import "modules/_residences.scss";
@import "modules/_residence-card.scss";
@import "modules/_residence-featured.scss";
@import "modules/_residence-advantages.scss";
@import "modules/_services.scss";
@import "modules/_promo.scss";
@import "modules/_faq.scss";
@import "modules/_build-process.scss";
@import "modules/_team.scss";
@import "modules/_promo-form.scss";
@import "modules/_process.scss";
@import "modules/_breadcrumbs.scss";
@import "modules/_careers.scss";
@import "modules/_vacancies.scss";
@import "modules/_contacts.scss";
@import "modules/_help-form.scss";
@import "modules/_projects.scss";
@import "modules/_pagination.scss";
@import "modules/_categories.scss";
@import "modules/_articles.scss";
@import "modules/_article-card.scss";
@import "modules/_article.scss";

@import "modules/_article-video.scss";
@import "modules/_notfound.scss";
@import "modules/_documents.scss";
@import "modules/_documents-awards.scss";
@import "modules/_documents-advantages.scss";
@import "modules/_documents-list.scss";
@import "modules/_clients.scss";
@import "modules/_partners.scss";
@import "modules/_cooperation.scss";
@import "modules/_media.scss";
@import "modules/_reviews.scss";

@import "modules/_materials.scss";
@import "modules/_tech.scss";
@import "modules/_quality.scss";
@import "modules/_build-stat.scss";
@import "modules/_construction-steps.scss";
@import "modules/_stats.scss";
@import "modules/_step.scss";
@import "modules/_turnkey-homes.scss";
@import "modules/_system.scss";
@import "modules/_clips.scss";
@import "modules/_filters.scss";
@import "modules/_modal.scss";
