/*article*/
.article {
	.head-content {
		width: calc(100% - 410px);
		gap: 20px;
		margin-bottom: 40px;
	}
	.articles__content {
		display: flex;
		gap: 30px;
	}
	.article__main {
		width: calc(100% - 410px);
	}
	.article__related {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 380px;
	}
	.article__date {
		font-size: 16px;
		line-height: 140%;
		color: var(--gray);
	}
	.article__image {
		height: 515px;
		border-radius: 2px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			min-width: 100%;
	    min-height: 100%;
	    object-fit: cover;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
	}
	.article__head {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.acticle__author {
		display: flex;
		align-items: center;
	}
	.acticle__author-image {
		width: 100px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		overflow: hidden;
	}
	.acticle__author-content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 5px;
		padding-left: 15px;
		max-width: calc(100% - 100px);
	}
	.acticle__author-name {
		font-size: 20px;
		line-height: 120%;
		color: rgba(0,0,0,.8);
	}
	.acticle__author-emp {
		font-size: 14px;
		line-height: 120%;
		color: #919191;
	}
	.acticle__body {
		font-size: 16px;
		line-height: 150%;
		color: rgba(0,0,0,.8);
		margin-top: 45px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.acticle__body {
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 0;
			margin-top: 25px;
		}
	}
	.acticle__body blockquote {
		background: #FFDC8F;
		border: 1px solid #DDDFE0;
		border-radius: 4px;
		padding: 25px 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin: 25px 0 0;

		mark {
			font-weight: 600;
			font-size: 20px;
		}
	}
}
@media (max-width: 1600px) {
	.article .head-content {
		margin-bottom: 30px;
		gap: 15px;
		width: calc(100% - 340px);
	}
	.article .article__related {
		gap: 20px;
		width: 320px;
	}
	.article .article__main {
    width: calc(100% - 340px);
	}
	.article .articles__content {
		gap: 20px;
	}
	.article .article__image {
		height: 430px;
	}
	.article .acticle__author-image {
		width: 80px;
		height: 80px;
	}
	.article .acticle__author-content {
		padding-left: 10px;
		max-width: calc(100% - 80px);
	}
	.article .acticle__author-name {
		font-size: 18px;
	}
	.article .acticle__author-emp {
		font-size: 13px;
	}
	.article .acticle__body {
		font-size: 14px;
		margin-top: 35px;
	}
	.article .acticle__body {
		// h1,h2,h3,h4,h5,h6 {
		// 	margin-bottom: 15px;
		// 	margin-top: 35px;
		// }
	}
	.article .acticle__body blockquote {
		padding: 20px 15px;
		// margin-top: 35px;
	}
	.article .acticle__body blockquote mark {
		font-size: 18px;
	}
	.article .article__date {
		font-size: 14px;
	}
	.article .head-content {
		gap: 10px;
	}
}
@media (max-width: 1440px) {
	.article .article__image {
		height: 340px;
	}
}
@media (max-width: 1199px) {
	.article .articles__content {
		flex-direction: column;
		gap: 35px;
	}
	.article .article__main {
		width: 100%;
	}
	.article .article__related {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;

		.article-card {
			width: calc((100% - 15px) / 2);
		}
	}
	.article .head-content {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.article .article__image {
		height: 220px;
	}
	.article .acticle__author-name {
		font-size: 16px;
	}
	.article .acticle__author-image {
		width: 60px;
		height: 60px;
	}
	.article .acticle__author-content {
		max-width: calc(100% - 60px);
	}
	.article .acticle__body blockquote {
		padding: 15px 10px;
		gap: 10px;
	}
	.article .acticle__body blockquote mark {
		font-size: 16px;
	}
	.article .breadcrumbs .breadcrumbs__item--current .breadcrumbs__link {
		max-width: 150px;

		span {
			display: inline-block;
			width: 20ch;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
@media (max-width: 479px) {
	.article .article__image {
		height: 200px;
	}
	.article .acticle__body h1 {
		font-size: 24px;
		margin-top: 10px;
	}
	.article .acticle__body h2 {
		font-size: 22px;
		margin-top: 10px;
	} 
	.article .acticle__body h3 {
		font-size: 20px;
		margin-top: 10px;
	}
	.article .acticle__body h4 {
		font-size: 18px;
		margin-top: 10px;
	}
	.article .acticle__body h5 {
		font-size: 17px;
		margin-top: 10px;
	}
	.article .acticle__body h6 {
		font-size: 16px;
		margin-top: 10px;
	}
	.article .acticle__body blockquote {
		margin-top: 10px;
	}
	.article .article__related {
		gap: 10px;
	}
	.article .article__related .article-card {
		width: calc((100% - 10px) / 2);
	}
}
@media (max-width: 369px) {
	.article .article__related .article-card {
		width: 100%;
	}
}