/*article-card*/
.article-card {
	border-radius: 2px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 4.08px 10.2px 0px rgba(74, 58, 255, 0.05), 0px 0px 77.52px 0px rgba(220, 231, 255, 0.16);
	position: relative;
	transition: .5s;

	.article-card__image {
		height: 220px;
		overflow: hidden;
		border-radius: 2px;
		position: relative;

		img {
			transition: 1.5s;
		}
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
	}
	.article-card__category {
		position: absolute;
		top: 20px;
		left: 20px;
		border-radius: 2px;
		background: #fff;
		height: 26px;
		padding: 0 10px;
		font-size: 14px;
		line-height: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.article-card__content {
		padding: 25px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.article-card__date {
		color: var(--gray);
		font-size: 16px;
		line-height: 120%;
		font-family: var(--font-second);
	}
	.article-card__title {
		font-size: 24px;
		line-height: 110%;
		font-weight: 600;
		font-family: var(--font-second);
		color: #000;
		display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	}
	.article-card__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:hover {
		box-shadow: 0px 4.08px 10.2px 0px rgba(74, 58, 255, 0.1), 0px 0px 77.52px 0px rgba(220, 231, 255, 0.36);

		.article-card__image {
			img {
				transform: scale(1.05);
			}
		}
	}
}
@media (max-width: 1600px) {
	.article-card .article-card__image {
		height: 190px;
	}
	.article-card .article-card__content {
		padding: 20px;
	}
	.article-card .article-card__date {
		font-size: 14px;
	}
	.article-card .article-card__title {
		font-size: 20px;
	}
	.article-card .article-card__category {
		top: 15px;
		left: 15px;
		font-size: 13px;
	}
}
@media (max-width: 1440px) {
	.article-card .article-card__content {
		padding: 15px;
	}
}
@media (max-width: 1199px) {
	.article-card .article-card__title {
		font-size: 18px;
	}
}
@media (max-width: 991px) {
	.article-card .article-card__date {
		font-size: 13px;
	}
	.article-card .article-card__title {
		font-size: 16px;
	}
	.article-card .article-card__content {
		gap: 5px;
	}
	.article-card .article-card__category {
		top: 10px;
		left: 10px;
	}
}
@media (max-width: 767px) {
	.article-card .article-card__content {
		padding: 10px;
	}
	.article-card .article-card__image {
		height: 160px;
	}
}
@media (max-width: 479px) {
	.article-card .article-card__image {
		height: 120px;
	} 
	.article-card .article-card__category {
		top: 5px;
		left: 5px;
		height: 24px;
	}
}