/*build-process*/
.build-process {
	padding: 0;
	margin-top: var(--padding-large);

	.build-process__content {
		min-height: 955px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: var(--padding-medium) 0; 
	}
	.build-process__details {
		border-radius: 4px;
		background: rgba(0,0,0,.2);
		border: 1px solid #DDDFE0;
		backdrop-filter: blur(8px);
		padding: 30px 20px;
		color: #fff;
		max-width: 520px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		overflow: hidden;
	}
	.build-process__img {
		position: absolute;
		top: 0;
		left: 120px;
		z-index: -1; 

		img {
			max-height: 100%;
		}
	}
	.build-process__name {
		font-size: 24px;
		line-height: 110%;
		font-family: var(--font-second);
		padding: 35px 0 20px 140px;
	}
	.build-process__desc {
		color: rgba(255,255,255,.8);
		font-size: 16px;
		line-height: 120%;
		max-width: 380px;
	}
}
@media (max-width: 1600px) {
	.build-process .build-process__details {
		gap: 15px;
		max-width: 440px;
		padding: 20px;
	}
	.build-process .build-process__content {
		min-height: 810px;
	}
	.build-process .build-process__name {
		font-size: 20px;
		padding-left: 130px;
		padding-bottom: 10px;
	}
	.build-process .build-process__img {
		height: 80px;
	}
	.build-process .build-process__desc {
		font-size: 14px;
		max-width: 340px;
	}
}
@media (max-width: 1199px) {
	.build-process .build-process__name {
		font-size: 18px;
		padding-left: 115px;
		padding-bottom: 0;
	}
	.build-process .build-process__details {
		padding: 15px;
		max-width: 400px;
	}
	.build-process .build-process__img {
		height: 70px;
		left: 100px;
	}
	.build-process .build-process__content {
		min-height: 660px;
	}
}
@media (max-width: 991px) {
	.build-process .build-process__content {
		min-height: 580px;
	}
	.build-process .build-process__details {
		padding: 15px 10px;
	}
}
@media (max-width: 767px) {
	.build-process .build-process__content {
		min-height: 470px;
		padding: 30px 0;
	}
	.build-process .title.title--h2 {
		br {
			display: none;
		}
	}
	.build-process .build-process__details {
		gap: 10px;
	}
}
@media (max-width: 479px) {
	.build-process .build-process__details {
		padding: 10px;
	}
	.build-process .build-process__content {
		padding-bottom: 10px;
	}
	.build-process .build-process__name {
		padding: 18px 0 10px 80px;
	}
	.build-process .build-process__img {
		left: 60px;
		top: -20px;
	}
	.build-process .build-process__desc {
		max-width: 300px;
	}
}