/*categories*/
.categories {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	.categories__list {
		background: #FFDECB;
		padding: 4px;
		border-radius: 4px;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	.categories__item {
		padding: 0 30px;
		height: 42px;
		border-radius: 1px;
		background: transparent;
		border: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: rgba(0, 0, 0, .45);
		font-size: 14px;
		line-height: 100%;
		transition: .5s;

		&:hover {
			background: rgba(255,255,255,.5);
			color: #000;
		}
	}
	.categories__item--active {
		background: #fff;
		color: #000;
	}
	.categories__scroll {
		display: inline-flex;
		align-items: center;
		gap: 5px;
		font-size: 13px;
		letter-spacing: -0.03em;
		line-height: 110%;
		color: #939393;

		img {
			width: 27px;
		}
	}
}
@media (max-width: 1600px) {
	.categories .categories__item {
		padding: 0 25px;
		height: 34px;
	}
}
@media (max-width: 479px) {
	.categories .categories__item {
		padding: 0 5px;
		width: calc((100% - 10px) / 3);
	}
}
@media (max-width: 369px) {
	.categories .categories__item {
		width: calc((100% - 5px) / 2);
	}
}