/*clients*/
.clients {
	.head-content {
		gap: calc(var(--padding-medium) - 20px);
	}
	.clients__content {
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding-small) - 10px);
	}
	.clients__grid {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		position: relative;
		z-index: 13;
	}
	.clients__item {
		width: calc((100% - 30px) / 3);
		border: 1px solid #D0D0D0;
		padding: 30px 20px;
		background: conic-gradient(from 97deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, rgba(255, 255, 255, .3) 360deg), linear-gradient(0deg, #FFC7A6, #FFC7A6);
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.clients__item-title {
		font-size: 24px;
		line-height: 110%;
		font-family: var(--font-second);
		font-weight: 600;
	}
	.clients__item-label {
		color: var(--gray);
		font-size: 16px;
		line-height: 120%;
	}
}
@media (max-width: 1600px) {
	.clients .clients__item-title {
		font-size: 20px;
	}
	.clients .clients__item-label {
		font-size: 14px;
	}
	.clients .clients__item {
		padding: 20px;
		gap: 10px;
	}
}
@media (max-width: 1440px) {
	.clients .clients__item-title {
		font-size: 18px;
	}
}
@media (max-width: 1199px) {
	.clients .clients__item {
		padding: 15px;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.clients .clients__item-title {
		font-size: 17px;
	}
}
@media (max-width: 767px) {
	.clients .head-content {
		gap: var(--padding-small);
	}
	.clients .head-content br {
		display: none;
	}
	.clients .clients__grid {
		gap: 10px;
	}
	.clients .clients__item {
    width: calc((100% - 10px) / 2);
	}
}
@media (max-width: 479px) {
	.clients .clients__item {
		width: 100%;
		padding: 15px 10px;
	}
	.clients .head-content .title--h2 {
		max-width: 320px;
	}
}