/*contacts*/
.contacts {
	.head-content {
		margin-bottom: calc(var(--padding-medium) - 20px);
		position: relative;
	}
	.contacts__head-img {
		position: absolute;
		top: 30px;
		left: 0;

		img {
			max-height: 100%;
		}
	}
	.contacts__grid {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	.contacts__item {
		border-bottom: 1px solid #D6D6D6;
		padding: 20px 0;
		display: flex;
		align-items: flex-start;
		width: 100%;
	}
	.contacts__label {
		width: 40%;
		font-size: 36px;
		line-height: 110%;
		font-family: var(--font-second);
	}
	.contacts__details {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
	}
	.contacts__details-value {
		font-size: 36px;
		line-height: 110%;
		display: flex;
		align-items: center;
		gap: 15px;
		font-family: var(--font-second);
	}
	.contacts__details-soc {
		width: 39px;
		height: 39px;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 100%;
		}
		&:hover {
			opacity: .8;
		}
	}
	.contacts__details-address {
		font-size: 22px;
		line-height: 120%;
		color: #5A5952;
		letter-spacing: -0.01em;
	}
	.contacts__details-note {
		font-size: 22px;
		line-height: 120%;
		letter-spacing: -0.01em;
	}
	.contacts__details-items {
		display: flex;
		align-items: center;
		gap: 30px;
	}
	.contacts__details-item {
    color: #5A5952;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.01em;
	}
	.contacts__map {
		border-radius: 4px;
		overflow: hidden;
		height: 555px;
		width: 100%;

		iframe {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			border-radius: inherit;
			pointer-events: none;
		}
	}
	.contacts__btns {
		display: flex;
    flex-wrap: wrap;
		gap: 10px;
		width: 100%;
	}
	.button--outline {
    height: 38px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;

    &:hover {
    	color: #000;
    	border-color: rgba(0, 0, 0, 0.5);
    }
	}
}
@media (max-width: 1600px) {
	.contacts .contacts__head-img {
		height: 55px;
	}
	.contacts .contacts__label {
		font-size: 30px;
	}
	.contacts .contacts__details-value {
		font-size: 30px;
	}
	.contacts .contacts__details-address {
		font-size: 20px;
	}
	.contacts .contacts__details-note {
		font-size: 20px;
	}
	.contacts .contacts__item {
		padding: 15px 0;
	}
	.contacts .contacts__map {
		height: 455px;
	}
	.contacts .contacts__details-item {
		font-size: 18px;
	}
	.contacts .contacts__details-items {
		gap: 20px;
	}
	.contacts .button--outline {
		font-size: 13px;
	}
	.contacts .contacts__grid {
		gap: 20px;
	}
}
@media (max-width: 1440px) {
	.contacts .head-content {
		margin-bottom: 30px;
	}
	.contacts .contacts__label {
		font-size: 24px;
		width: 36%;
	}
	.contacts .contacts__details {
		width: 64%;
	}
	.contacts .contacts__details-value {
		font-size: 24px;
	}
	.contacts .contacts__details-address {
		font-size: 18px;
	}
	.contacts .contacts__details-note {
		font-size: 18px;
	}
	.contacts .contacts__map {
		height: 400px;
	}
	.contacts .contacts__details-item {
		font-size: 16px;
	}
	.contacts .contacts__head-img {
		top: 20px;
	}
	.contacts .contacts__details-soc {
		height: 32px;
		width: 32px;
	}
}
@media (max-width: 1199px) {
	.contacts .contacts__label {
		font-size: 20px;
	}
	.contacts .contacts__details-value {
		font-size: 20px;
	}
	.contacts .contacts__grid {
		gap: 15px;
	}
	.contacts .contacts__map {
		height: 350px;
	}
	.contacts .contacts__label {
		width: 32%;
	}
	.contacts .contacts__details {
		width: 68%;
	}
	.contacts .contacts__details-note {
		font-size: 16px;
		max-height: 450px;
	}
	.contacts .contacts__details-address {
		font-size: 16px;
	}
}
@media (max-width: 991px) {
	.contacts .contacts__label {
		font-size: 18px;
	}
	.contacts .contacts__details-value {
		font-size: 18px;
	}
	.contacts .contacts__head-img {
		top: 15px;
		height: 35px;
	}
	.contacts .contacts__details-soc {
		height: 28px;
		width: 28px;
	}
}
@media (max-width: 767px) {
	.contacts .contacts__item {
		padding: 15px 0;
		flex-direction: column;
		gap: 5px;
	}
	.contacts .contacts__grid {
		gap: 10px;
	}
	.contacts .contacts__label {
		width: 100%;
	}
	.contacts .contacts__details {
		width: 100%;
		row-gap: 15px;
	}
	.contacts .contacts__details-value {
		font-size: 16px;
	}
	.contacts .contacts__details-address {
		font-size: 14px;
		max-width: 400px;

		br {
			display: none;
		}
	}
	.contacts .contacts__details-note {
		font-size: 14px;
	}
}
@media (max-width: 479px) {
	.contacts .contacts__details-value {
		font-size: 14px;
	}
	.contacts .contacts__item {
		padding: 10px 0;
	}
	.contacts .contacts__details-item {
		font-size: 14px;
	}
	.contacts .button--outline {
		font-size: 14px;
	}
	.contacts .contacts__head-img {
		left: -30px;
		top: 10px;
	}
	.contacts .button--primary {
		height: 50px;
		width: 100%;
	}
	.contacts .contacts__details-soc {
		height: 24px;
		width: 24px;
	}
}