/*residence-advantages*/
.documents-advantages {
	display: flex;
	gap: 15px;

	.documents-advantages__item {
		width: calc((100% - 30px) / 3);
		border-radius: 4px;
		border: 1px solid #DDDFE0;
		padding: 64px 20px 30px 20px;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}
	.documents-advantages__item--1 {
		.documents-advantages__img {
			right: -1px;
			top: -1px;
		}
	}
	.documents-advantages__item--2 {
		.documents-advantages__img {
			top: -1px;
			right: 126px;
		}
	}
	.documents-advantages__item--3 {
		.documents-advantages__img {
			top: 32px;
			right: 30px;
		}
	}
	.documents-advantages__img {
		position: absolute;
		z-index: -1; 

		img {
			max-height: 100%;
		}
	}
	.documents-advantages__title {
		font-size: 24px;
		line-height: 110%;
		font-family: var(--font-second);
		font-weight: 600;
		text-align: right;
		margin-bottom: 40px;
	}
	.documents-advantages__text {
		width: 100%;
		color: var(--gray);
		font-size: 16px;
		line-height: 120%;
	}
} 
@media (max-width: 1600px) {
	.documents-advantages .documents-advantages__item {
    padding: 54px 20px 20px 20px; 
	}
	.documents-advantages .documents-advantages__item--1 .documents-advantages__img {
		height: 80px;
	}
	.documents-advantages .documents-advantages__item--2 .documents-advantages__img {
		height: 105px;
		right: 105px;
	}
	.documents-advantages .documents-advantages__item--3 .documents-advantages__img {
		height: 80px;
		top: 26px;
	}
	.documents-advantages .documents-advantages__title {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.documents-advantages .documents-advantages__text {
		font-size: 14px;
	}
}
@media (max-width: 1440px) {
	.documents-advantages .documents-advantages__title {
		font-size: 18px;
	}
}
@media (max-width: 1199px) {
	.documents-advantages .documents-advantages__item--1 .documents-advantages__img {
		height: 70px;
	}
	.documents-advantages .documents-advantages__item--2 .documents-advantages__img {
		height: 95px;
		right: 95px;
	}
	.documents-advantages .documents-advantages__item--3 .documents-advantages__img {
		height: 70px;
		top: 23px;
	}
	.documents-advantages .documents-advantages__item {
		padding: 47px 15px 15px 15px;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.documents-advantages .documents-advantages__item {
		padding: 47px 10px 15px 10px;
	}
	.documents-advantages .documents-advantages__title {
		font-size: 17px;
	}
}
@media (max-width: 767px) {
	.documents-advantages {
		gap: 10px;
		flex-direction: column;
	}
	.documents-advantages .documents-advantages__item {
		width: 100%;
	}
	.documents-advantages .documents-advantages__title {
		margin-bottom: 35px;
	}
}
@media (max-width: 479px) {
	.documents-advantages .documents-advantages__text {
		max-width: 310px;
	}
	.documents-advantages .documents-advantages__item--1 .documents-advantages__img {
		top: -10px;
	}
	.documents-advantages .documents-advantages__item--2 .documents-advantages__img {
		top: -10px;
	}
	.documents-advantages .documents-advantages__item--3 .documents-advantages__img {
		top: 13px;
		right: 23px;
	}
	.documents-advantages .documents-advantages__item {
		padding: 38px 10px 15px 10px;
	}
}