/*footer*/
.footer {
	background: #F8F8F8;
	margin-top: var(--padding-large);
	overflow: hidden;
	padding-bottom: 70px;
		
	.footer__row {
		border-bottom: 1px solid rgba(149,149,149,.25);

		&.footer__row--top {
			padding: 15px 0;

			.footer__inner {
				align-items: center;
			}
		}
		&.footer__row--bottom {
			padding: 30px 0;

			.footer__inner {
				align-items: center;
				flex-wrap: wrap;
				gap: 15px;
			}
		}
		&.footer__row--grid {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.footer__inner {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		&.footer__row--copyright {
			padding: 20px 0;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.footer__inner {
		max-width: var(--max-width);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 30px;
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		line-height: 120%;
		color: rgba(0, 0, 0, .8);
	}
	.footer__column {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding: 40px 15px;
		width: 16.5%;
		border-right: 1px solid rgba(149,149,149,.25);

		&.footer__column--contacts {
			max-width: 440px;
			width: 100%;
			border: none;
		}
		&.footer__column--two-cols {
			width: 22%;

			.footer__list {
				display: grid;
    			grid-template-columns: repeat(2, auto);
    			column-gap: 35px;
    			max-width: 270px;
			}
		}
	}
	.footer__divider {
		width: 1px;
		background: rgba(149,149,149,.25);
	}
	.footer__logo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
			
		.logo {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
	.footer__title {
		font-family: var(--font-second);
		font-size: 16px;
		font-weight: 600;
		line-height: 110%;
	}
	.footer__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 20px;

		a {
			color: rgba(0, 0, 0, .8);

			&:hover {
				color: var(--orange);
			}
		}
	}
	.footer__btn {
		border-radius: 4px;
		border: 1px solid rgba(0,0,0,.25);
		transition: .5s;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 38px;
		gap: 8px;
		font-size: 14px;
		font-family: var(--font-second);
		padding: 0 20px;
		color: #000;

		&:hover {
			border-color: rgba(0,0,0,.5);
		}
	}
	.footer__link {
		display: inline-flex;
		align-items: center;
		gap: 6px;
		opacity: .8;

		&::after {
			content: "";
			background: url(../img/icons/arrow-right.svg) no-repeat;
			background-position: center;
			background-size: contain;
			width: 5px;
			height: 8px;
		}
		&:hover {
			opacity: 1;
		}
	}
	.footer__info {
		display: flex;
		flex-direction: column;
    	align-items: flex-start;
		gap: 20px;

		p {
			display: flex;
			flex-direction: column;
		}
	}
	.footer-info__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.footer-info__label {
		width: 180px;
	}
	.footer-info__value {
		width: calc(100% - 180px);
		padding-left: 10px;
	}
	.contact-phone {
		margin-right: 30px;
	}
	.footer__right {
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		gap: 5px;
		width: 40%;
	}
	.footer__left {
		display: inline-flex;
		align-items: center;
		gap: 5px;
		width: 40%;
	}
	.footer-info__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 180px;
		padding-left: 10px;
	}
	.btn-map {
		height: 43px;
		padding: 0 20px;
	}
	.btn-taxi {
		height: 43px;
		padding: 0 12px 0 70px;

		img.icon {
			top: 70%;
    		left: -50px;
    	}

		&:hover {
			img.icon {
				top: 50%;
				left: 50%;
			}
		}
	}
}	
.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #FFFFFFB2;
	backdrop-filter: blur(34px);
	padding: 10px 30px;
	z-index: 87;
	display: none;
	
	.bottom-nav__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.bottom-nav__item {
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;
		}
	}
	.bottom-nav__icon {
		height: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 100%;
		}
	}
	.bottom-nav__label {
		font-size: 12px;
		line-height: 100%;
	}
}
.fixed-button {
	position: fixed;
	right: 30px;
	bottom: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: #F3F3F3;
	border-radius: 1px;
	height: 42px;
	padding: 0 24px;
	font-size: 14px;
	font-family: var(--font-second);
	border: none;
	transition: .3s;
	z-index: 15;

	&:hover {
		background: #e1e1e1;
	}
}
@media (max-width: 1600px) {
    .footer .footer__list {
    	gap: 15px;
    }
    .footer .footer__info {
		gap: 15px;
	}
    .footer .footer__column {
    	padding: 30px 15px;
    	gap: 20px;
    }
    .footer .footer__title {
    	font-size: 14px;
    }
    .footer .footer__inner {
    	font-size: 12px;
    }
    .footer .footer-info__label {
    	width: 150px;
	}
	.footer .footer-info__value {
	    width: calc(100% - 150px);
	}
	.footer .footer-info__btns {
		margin-left: 150px;
	}
	.footer .footer__btn {
		font-size: 12px;
	}
	
	.footer .footer__logo .logo {
		width: 115px;
	}
	.footer .contact-phone {
    	margin-right: 20px;
	}
	.footer .footer__column.footer__column--contacts {
		max-width: 380px;
	}
	.footer .footer__column.footer__column--two-cols .footer__list {
		max-width: 240px;
	}
	.fixed-button {
		right: 20px;
		bottom: 30px;
		font-size: 13px;
	}
}
@media (max-width: 1440px) {
	.footer .footer__copyright {
		width: 100%;
	}
	.footer .footer__column.footer__column--contacts {
    	max-width: 360px;
    }
    .footer .button--primary {
    	display: none;
    }
    .footer .footer__row.footer__row--copyright {
    	padding: 15px 0;
    }
    .footer .footer__column.footer__column--two-cols .footer__list {
    	display: flex;
    }
    .footer .footer__column.footer__column--two-cols {
    	width: 17%;
    }
    .footer .footer__column {
    	width: 17%;
    }
    .footer .footer-info__label {
    	width: 130px;
    }
    .footer .footer-info__value {
    	width: calc(100% - 130px);
    }
    .footer .footer-info__btns {
    	margin-left: 130px;
    }
    .fixed-button {
		right: 20px;
		bottom: 20px;
	}
}
@media (max-width: 1199px) {
   .footer .footer__column.footer__column--contacts {
        max-width: 270px;
    }
    .footer .footer__column {
    	padding: 30px 10px;
    	width: 18%;
    }
    .footer .footer__row.footer__row--grid .footer__inner {
   		padding-left: 20px;
    	padding-right: 20px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.footer .footer-info__row {
		flex-direction: column;
	}
	.footer .footer-info__label {
		width: 100%;
	}
	.footer .footer-info__value {
		width: 100%;
		padding: 0;
	}
	.footer .footer-info__btns {
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 991px) {
	.footer .lang {
		display: none;
	}
    .footer .footer__logo .logo {
        width: 100px;
    }
    .footer .footer__inner {
    	flex-wrap: wrap;
    }
    .footer .footer__divider {
    	display: none;
    }
    .footer .footer__column.footer__column--menu {
    	width: 25%;
    	border-right: none;
    	border-left: 1px solid rgba(149, 149, 149, 0.25);
    	padding: 20px 15px;
    }
    .footer .footer__column.footer__column--menu:first-child {
    	border: none;
    }
    .footer .footer__column.footer__column--contacts {
        max-width: 100%;
        width: auto;
        position: relative;
    }
    .footer .footer__column.footer__column--contacts::before {
    	content: "";
    	position: absolute;
    	top: 0;
    	left: -999px;
    	right: -999px;
    	background: rgba(149, 149, 149, 0.25);
    	height: 1px;
    }
    .footer .footer__inner {
		padding: 0 20px;
	}
    .footer .footer__row.footer__row--grid .footer__inner {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
	.footer .footer-info__btns {
    	flex-direction: row;
    }
}
@media (max-width: 767px) {
	.footer .footer__inner {
		padding: 0 15px;
	}
	.footer .footer__column.footer__column--contacts {
		width: 100%;
	}
	.footer .footer__title {
		font-size: 16px;
	}
	.footer .footer__inner {
		font-size: 13px;
	}
	.footer .footer__btn {
		font-size: 13px;
	}
	.footer .footer__row.footer__row--bottom .footer__inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer .footer-info__label {
		width: 100px;
	}
	.footer .footer-info__value {
		width: calc(100% - 100px);
	}
	.footer .footer__left,
	.footer .footer__right {
		display: none;
	}
	.footer .footer__column.footer__column--menu {
		width: 100%;
		border: none;
		position: relative;
	}
	.footer .footer__column.footer__column--menu:not(:first-child)::before {
    	content: "";
    	position: absolute;
    	top: 0;
    	left: -999px;
    	right: -999px;
    	background: rgba(149, 149, 149, 0.25);
    	height: 1px;
    }
    .footer .footer__logo .logo {
        width: 130px;
    }
    .footer .footer__list {
        flex-direction: row;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .footer__row.footer__row--grid .footer__inner {
    	padding: 0 15px;
    }
    .footer .footer__column.footer__column--menu {
    	padding: 15px 0;
    }
    .footer .footer__column {
    	padding: 15px 0;
    }
    .footer .footer__column.footer__column--two-cols .footer__list {
    	max-width: 100%;
	    display: grid;
        column-gap: 15px;
    }
    .footer .footer-info__btns {
        margin-left: 100px;
    }
}
@media (max-width: 479px) {
	.footer .footer__inner {
		padding: 0 10px;
	} 
	.footer .footer__row.footer__row--grid .footer__inner {
    	padding: 0 10px;
    }
    .footer .footer__row.footer__row--bottom {
    	padding: 20px 0;
	}
	.footer .footer__list {
		row-gap: 10px;
	}
	.footer .btn-map {
    	padding: 0 8px;
    	max-width: none;
    	gap: 0;
	}
	.footer .footer-info__btns {
    	flex-direction: row;
    	flex-wrap: wrap;
    	margin-left: 0;
    	padding: 0;
    }
    .footer .btn-taxi img.icon {
    	top: 60%;
    	left: -35px;
    	height: 75px;
	}
	.footer .btn-taxi {
		padding-left: 60px;
	}
	.footer .footer__column {
		gap: 15px;
	}
	.bottom-nav {
		display: block;
	}
	.fixed-button {
		display: none;
	}
}