/*hero*/
.hero {
	&:first-of-type {
		padding-top: 0;
	}
	.hero__content {
		min-height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--padding-medium) 0;
	}
	&.section-bg {
		.section-bg__overlay {
			background: linear-gradient(180deg, rgba(9, 9, 11, 0.3) 10.19%, rgba(9, 9, 11, 0) 54.41%, rgba(9, 9, 11, 0.53) 68.56%, rgba(9, 9, 11, 0.8) 100%);
		}
	}
}
@media (max-width: 1600px) {
	.hero .hero__content {
		min-height: 714px;
	}
}
@media (max-width: 1199px) {
	.hero .hero__content {
		min-height: 580px;
	}
}
@media (max-width: 991px) {
	.hero .hero__content {
		min-height: 480px;
	}
}
@media (max-width: 767px) {
	.hero .hero__content {
		min-height: 420px;
	}
	.hero .hero__content {
		padding: 30px 0;
	}
	.hero .title {
		max-width: 460px;
	}
	.hero .title br {
		display: none;
	}
	.hero .subtitle {
		max-width: 480px;
	}
}
@media (max-width: 479px) {
	.hero .hero__content {
		min-height: 387px;
		padding: 15px 0;
	}
	.hero .subtitle {
		display: none;
	}
}