/*media*/
.media {
	.head-content {
    gap: calc(var(--padding-medium) - 20px);
    max-width: 690px;
	}
	.media__content {
    position: relative;
    padding-right: 50%;
    padding-bottom: var(--padding-medium);
	}
	.media__video {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
   	border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-left: 70px;

    video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
	}
	.media__main {
		margin-top: var(--padding-medium);
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.media__articles {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}
	.media__articles-row {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
	.article-video {
		width: 100%;
	}
	.article-card {
		width: calc((100% - 45px) / 4);
	}
}
@media (max-width: 1600px) {
	.media .head-content {
		max-width: 620px;
	}
	.media .media__video {
		padding-left: 50px;
	}
	.media .media__articles {
		gap: 30px;
	}
}
@media (max-width: 1440px) {
	.media .head-content {
		gap: 30px;
	}
}
@media (max-width: 1199px) {
	.media .media__video {
		padding-left: 30px;
	}
}
@media (max-width: 991px) {
	.media .article-card {
    width: calc((100% - 15px) / 2);
	}
	.media .head-content {
		padding-right: 20px;
	}
	.media .media__video {
		padding-left: 0;
	}
	.media .media__content {
		padding-bottom: 40px;
	}
}
@media (max-width: 767px) {
	.media .head-content {
		padding: 0;
		margin-bottom: 20px;
	}
	.media .media__content {
		padding: 0;
	}
	.media .media__video {
		position: static;
		width: 100%;
		height: 250px;
	}
	.media .media__articles {
		gap: 40px;
	}
	.media .media__articles-row {
		gap: 10px;
	}
	.media .article-card {
    width: calc((100% - 10px) / 2);
	}
	.media .media__main {
		margin-top: 20px;
	}
}
@media (max-width: 479px) {
	.media .media__video {
		height: 220px;
	}
}
@media (max-width: 369px) {
	.media .article-card {
    width: 100%;
	}
}