/*partners*/
.partners {
	.head-content {
		gap: calc(var(--padding-medium) - 20px);
	}
	.partners__content {
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding-small) - 10px);
		align-items: flex-start;
	}	
	.partners__grid {
		display: flex;
		gap: 15px;
		width: 100%;
	}
	.info-card {
		width: calc((100% - 30px) / 3);
	}
	.info-card.info-card--1 {
		.info-card__img {
			right: -1px;
			top: -1px;
		}
	}
	.info-card.info-card--2 {
		.info-card__img {
			top: -1px;
			right: 126px;
		}
	}
	.info-card.info-card--3 {
		.info-card__img {
			top: 63px;
			right: -1px;
		}
	}
	.info-card .info-card__text {
		max-width: 460px;
	}
}
@media (max-width: 1600px) {
	.partners .info-card.info-card--1 .info-card__img {
		height: 80px;
	}
	.partners .info-card.info-card--2 .info-card__img {
		height: 105px;
		right: 105px;
	}
	.partners .info-card.info-card--3 .info-card__img {
		height: 80px;
		top: 53px;
	}
}
@media (max-width: 1199px) {
	.partners .info-card.info-card--1 .info-card__img {
		height: 70px;
	}
	.partners .info-card.info-card--2 .info-card__img {
		height: 95px;
		right: 95px;
	}
	.partners .info-card.info-card--3 .info-card__img {
		height: 70px;
		top: 45px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.partners .info-card .info-card__title {
		max-width: 200px;
	}
}
@media (max-width: 767px) {
	.partners .head-content {
		gap: var(--padding-small);
	}
	.partners .partners__grid {
		gap: 10px;
		flex-direction: column;
	}
	.partners .info-card {
		width: 100%;
	}
}
@media (max-width: 479px) {
	.partners .info-card.info-card--1 .info-card__img {
		top: -10px;
		height: 70px;
	}
	.partners .info-card.info-card--2 .info-card__img {
		top: -10px;
		height: 90px;
	}
	.partners .info-card.info-card--3 .info-card__img {
		top: 35px;
		height: 70px;
	}
}