/*quality*/
.quality {
	.quality__content {
		background: #F8F8F8;
		padding: 30px;
		display: flex;
		align-content: center;
		gap: 50px;
	}
	.quality__image {
		width: calc(100% - 800px);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		overflow: hidden;
	}
	.quality__columns {
		width: 750px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.head-content {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.stats {
		.stats__item {
			width: calc((100% - 10px) / 2);
		}
	}
}
@media (max-width: 1600px) {
	.quality .quality__content {
		padding: 25px;
		gap: 40px;
	}
	.quality .quality__image {
		width: calc(100% - 690px);
	}
	.quality .quality__columns {
		width: 650px;
		gap: 30px;
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.quality .head-content {
		gap: 30px;
	}
}
@media (max-width: 1440px) {
	.quality .quality__content {
		gap: 30px;
	}
	.quality .quality__image {
		width: calc(100% - 580px);
	}
	.quality .quality__columns {
		width: 550px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
}
@media (max-width: 1199px) {
	.quality .quality__image {
		width: calc(100% - 480px);
	}
	.quality .quality__columns {
		width: 450px;	
	}
}
@media (max-width: 991px) {
	.quality .quality__image {
		width: calc(100% - 420px);
	}
	.quality .quality__columns {
		width: 390px;
	}
}
@media (max-width: 767px) {
	.quality .quality__columns {
		padding: 0;
	}
	.quality .quality__content {
		padding: 15px;
		flex-direction: column;
	}
	.quality .quality__image {
		width: 100%;
		height: 400px;
	}
	.quality .quality__columns {
		width: 100%;
	}
	.quality .stats .stats__item {
		width: 100%;
	}
}
@media (max-width: 479px) {
	.quality .quality__image {
		height: 355px;
	}
	.quality .quality__content {
		padding: 10px;
	}
}