/*residences*/
.residences {
	.head-content {
		margin-bottom: 40px;
	}
	.residences__filters {
		margin-bottom: 50px;

		.filters .filter-item.select {
			max-width: 264px;
		}
	}
	.residences__main {
		display: flex;
		flex-direction: column;
		gap: var(--padding-medium);
	}
	.residences__grid {
		display: flex;
		flex-wrap: wrap;
		column-gap: 15px;
		row-gap: var(--padding-medium);

		.residence-card {
			width: calc((100% - 15px) / 2);
		}
	}
	.residences__quote {
		text-align: right;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
		margin-top: -60px;

		.residences__quote-label {
			font-size: 14px;
			line-height: 120%;
			color: #919191;
			text-align: left;
		}
		.residences__quote-text {
			font-size: 26px;
			line-height: 120%;
			letter-spacing: -0.03em;
			text-align: right;
		}
	}
	.residences__button {
		.button.button--outline {
			width: 100%;
		}
	}
}
@media (max-width: 1600px) {
	.residences .head-content {
    margin-bottom: 30px;
	}
	.residences .residences__quote .residences__quote-text {
		font-size: 22px;
	}
	.residences .residences__quote .residences__quote-label {
		font-size: 12px;
	}
	.residences .residences__quote {
		gap: 40px;
		margin-top: -50px;
	}
	.residences .residences__filters .filters .filter-item.select {
		max-width: 216px;
	}
}
@media (max-width: 1440px) {
	.residences .residences__quote .residences__quote-text {
		font-size: 18px;
	}
	.residences .residences__filters .filters .filter-item.select {
		max-width: 178px;
	}
}
@media (max-width: 1199px) {
	.residences .residences__quote .residences__quote-text {
		font-size: 16px;
	}
	.residences .residences__quote {
		gap: 30px;
		margin-top: -30px;
	}
	.residences .residences__filters {
		margin-bottom: 20px;
	}
}
@media (max-width: 991px) {
	.residences .residences__quote .residences__quote-text br {
		display: none;
	}
}
@media (max-width: 767px) {
	.residences .residences__main {
		gap: 40px;
	}
	.residences .residences__grid {
		flex-direction: column;
		gap: 40px;
	}
	.residences .residences__grid .residence-card {
		width: 100%;
	}
	.residences .residences__quote {
		gap: 20px;
		margin-top: 0;
	}
}
@media (max-width: 479px) {
	.residences .head-content {
		margin-bottom: 20px;
	}
	.residences .section__title.title--h2 {
		font-size: 18px;
	}
	.residences .residences__quote {
		gap: 15px;
	}
	.residences .residences__quote .residences__quote-label {
		font-size: 13px;
	}
	.residences .residences__quote .residences__quote-text {
		font-size: 14px;
	}
	.residences .residences__button {
		margin-top: -30px;
	}
}