/*residence-advantages*/
.residences-advantages {
	display: flex;
	gap: 15px;

	.info-card {
		width: calc((100% - 30px) / 3);
	}
	.info-card.info-card--1 {
		.info-card__img {
			right: -1px;
			top: -1px;
		}
	}
	.info-card.info-card--2 {
		.info-card__img {
			top: -1px;
			right: 126px;
		}
	}
	.info-card.info-card--3 {
		.info-card__img {
			top: 63px;
			right: -1px;
		}
	}
	.info-card .link {
		width: 100%;
	}
} 
@media (max-width: 1600px) {
	.residences-advantages .info-card.info-card--1 .info-card__img {
		height: 80px;
	}
	.residences-advantages .info-card.info-card--2 .info-card__img {
		height: 105px;
		right: 105px;
	}
	.residences-advantages .info-card.info-card--3 .info-card__img {
		height: 80px;
		top: 53px;
	}
}
@media (max-width: 1199px) {
	.residences-advantages .info-card.info-card--1 .info-card__img {
		height: 70px;
	}
	.residences-advantages .info-card.info-card--2 .info-card__img {
		height: 95px;
		right: 95px;
	}
	.residences-advantages .info-card.info-card--3 .info-card__img {
		height: 70px;
		top: 45px;
	}
}
@media (max-width: 767px) {
	.residences-advantages {
		gap: 10px;
		flex-direction: column;
	}
	.residences-advantages .info-card {
		width: 100%;
	}
}
@media (max-width: 479px) {
	.residences-advantages .info-card .info-card__text *:not(.link) {
		max-width: 310px;
	}
	.residences-advantages .info-card.info-card--1 .info-card__img {
		top: -13px;
	}
	.residences-advantages .info-card.info-card--2 .info-card__img {
		top: -13px;
	}
	.residences-advantages .info-card.info-card--3 .info-card__img {
		top: 35px;
	}
}