/*residence-featured*/
.residence-featured {
	position: relative;
	min-height: 645px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 40px 0;

	.residence-featured__image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		border-radius: 4px;
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
	}
	.residence-featured__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		border-radius: 4px;
		background: linear-gradient(180deg, rgba(102, 102, 102, 0) 56.89%, #000000 88.62%);
		opacity: .3;
	}
	.residence-featured__content {
		position: relative;
		z-index: 12;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.residence-featured__tag {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 16px;
		line-height: 110%;
		padding: 5px 10px;
		border-radius: 2px;
		background: url(../img/residences/tag-bg.svg) no-repeat;
		background-size: cover;
		background-position: center;
	}
}
@media (max-width: 1600px) {
	.residence-featured {
		min-height: 550px;
		padding: 30px 0;
	}
	.residence-featured .residence-featured__tag {
		font-size: 14px;
	}
}
@media (max-width: 1199px) {
	.residence-featured {
		min-height: 460px;
	}
}
@media (max-width: 991px) {
	.residence-featured {
		min-height: 380px;
	}
}
@media (max-width: 767px) {
	.residence-featured {
		min-height: 300px;
		padding: 15px 0;
	}
}
@media (max-width: 479px) {
	.residence-featured {
		min-height: 200px;
		width: auto;
		margin: 0 -10px;
		border-radius: 0;
	}
	.residence-featured .residence-featured__tag {
		font-size: 12px;
		padding: 5px;
	}
	.residence-featured .residence-featured__content {
		gap: 5px;
	}
	.residence-featured .residence-featured__title {
		font-size: 18px;
	}
	.residence-featured .residence-featured__image {
		border-radius: 0;
	}
}