/*reviews*/
.reviews {
	.head-content {
		gap: calc(var(--padding-medium) - 20px);
	}
	.reviews__content {
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding-small) - 10px);
	}
	.reviews__rating {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
	.reviews__item {
		width: calc((100% - 45px) / 4);
		border: 1px solid #D0D0D0;
		padding: 30px 20px;
		background: conic-gradient(from 108deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, rgba(255, 255, 255, .3) 360deg), linear-gradient(0deg, #FFC7A6, #FFC7A6);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 15px;
		position: relative;
		padding: 25px 20px;
		height: 205px;
		overflow: hidden;
	}
	.reviews__item--1 {
		.reviews__item-icon {
			left: 180px;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			img {
				height: 227px;
				max-width: initial;
			}
		}
	}
	.reviews__item--2 {
		.reviews__item-icon {
			right: 50px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;

			img {
				height: 227px;
				max-width: initial;
			}
		}
	}
	.reviews__item--4 {
		.reviews__item-icon {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			bottom: -2px;

			img {
				max-height: 100%;
			}
		}
	}
	.reviews__item-title {
		font-size: 70px;
		line-height: 110%;
		letter-spacing: -0.03em;
		font-family: var(--font-second);
		position: relative;
		z-index: 12;
	}
	.reviews__item-text {
		font-family: var(--font-second);
		font-size: 24px;
		line-height: 110%;
		font-weight: 600;
		position: relative;
		z-index: 12;
	}
	.reviews__item-icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.reviews__item-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center; 

		img {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
}
@media (max-width: 767px) {
	.reviews .head-content {
		gap: var(--padding-small);
	}
}