/*services*/
.services {
	.services__content {
		display: flex;
		flex-direction: column;
	}
	&.services--page {
		.head-content {
			position: relative;
		}
		.services__content-mark {
			position: absolute;
			top: 45px;
			left: 0;

			img {
				max-height: 100%;
			}
		}
	}
}
@media (max-width: 1600px) {
	.services.services--page .services__content-mark {
		height: 57px;
		top: 40px;
	}
}
@media (max-width: 1440px) {
	.services.services--page .services__content-mark {
		height: 48px;
		top: 30px;
	}
}
@media (max-width: 991px) {
	.services.services--page {
		overflow: hidden;
	}
	.services.services--page .services__content-mark {
		height: 48px;
		top: 10px;
		left: -65px;
	}
}
@media (max-width: 767px) {
	.services.services--page .services__content-mark {
		height: 44px;
		top: 8px;
	}
}