/*services*/
.services {
	.services__content {
		display: flex;
		flex-direction: column;
	}
	.services__item {
		border-bottom: 1px solid #D6D6D6;
		position: relative;
		display: flex;
		align-items: center;
		padding: 65px 0 35px;
		transition: .5s;
		
		&:hover {
			border-color: var(--orange);

			.services__name {
				color: var(--orange);
			}
			.services__desc {
				color: #000;
			}	
		}
	}
	.service__heading {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 10px;
		width: 30%;
	}
	.service__icon {
		display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    transition: .5s;
    background: conic-gradient(from 55deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, rgba(255,255,255,.3) 360deg), linear-gradient(0deg, #FF6930, #FF6930);
   
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url(../img/icons/arrow-orange.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain; 
			width: 8px;
			height: 10px;
		}
	}
	.services__name {
		font-size: 24px;
		line-height: 110%;
		font-weight: 600;
		font-family: var(--font-second);
		position: relative;
		transition: .5s;
		min-height: 28px;
		display: inline-flex;
		align-items: center;
	}
	.services__desc {
		font-size: 24px;
		line-height: 120%;
		color: var(--gray);
		width: 70%;
		padding-left: 100px;
		transition: .5s;
		text-align: right;
	}
	.services__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
@media (max-width: 1600px) {
	.services .services__name {
		font-size: 18px;
	}
	.services .services__desc {
		font-size: 18px;
		padding-left: 50px;
	}
	.services .services__item {
		padding: 55px 0 25px;
	}
	.services .service__heading {
		width: 35%;
	}
	.services .services__desc {
		width: 65%;
	}
}
@media (max-width: 1199px) {
	.services .services__name {
		font-size: 16px;
		padding-right: 30px;
	}
	.services .services__desc {
		font-size: 16px;
		padding-left: 30px;
	}
	.services .services__item {
		padding: 35px 0 15px;
	}
}
@media (max-width: 991px) {
	.services .services__item {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 30px 0 10px;
	}
	.services .services__desc {
		width: 100%;
		padding: 0;
		font-size: 14px;
	}
	.services .service__heading {
		width: 100%;
	}
	.services .services__desc {
		text-align: left;
	}
}
@media (max-width: 479px) {
	.services .services__desc {
		max-width: 285px;
	}
}