/*step*/
.step {
  border: 1px solid #DDDFE0;
  border-radius: 4px;
  position: relative;
  display: flex;
  overflow: hidden;

  .step__left {
    width: 50%;
    padding: 65px 35px 65px 20px;
    position: relative;

    .step__title {
      padding-left: 47px;
    }
  }
  .step__right {
    width: 50%;
    border-left: 1px solid #DDDFE0;
    padding: 65px 35px;
  }
  .step__title {
    font-size: 24px;
    line-height: 110%;
    font-family: var(--font-second);
    font-weight: 600;
    margin-bottom: 30px;
  }
  .step__text {
    width: 100%;
    color: var(--gray);
    font-size: 16px;
    line-height: 120%;
  }
  .step__number {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .step__img {
    position: absolute;
    top: -1px;
    left: 20px;
    z-index: -1;

    img {
      max-height: 100%;
    }
  }
  .step__list {
    padding-left: 15px;
    list-style-position: inside;
    font-size: 16px;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }
}
@media (max-width: 1600px) {
  .step .step__left {
    padding: 55px 25px 55px 20px;
  }
  .step .step__right {
    padding: 55px 25px;
  }
  .step .step__title {
    font-size: 20px;
  }
  .step .step__text {
    font-size: 14px;
  }
  .step .step__img {
    left: 15px;
    height: 80px;
  }
  .step .step__list {
    font-size: 14px;
  }
  .step .step__number {
    top: 15px;
    right: 15px;
    width: 30px;
  }
  .step .step__left .step__title {
    padding-left: 37px;
  }
}
@media (max-width: 1440px) {
  .step .step__left {
    padding: 35px 20px;
  }
  .step .step__right {
    padding: 35px 20px;
  }
  .step .step__img {
    height: 70px;
    top: -10px;
  }
  .step .step__number {
    width: 24px;
  }
  .step .step__left .step__title {
    padding-left: 30px;
  }
  .step .step__title {
    font-size: 18px;
  }
  .step .step__img {
    top: -12px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .step .step__title {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .step {
    flex-direction: column;
  }
  .step .step__left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .step .step__right {
    width: 100%;
    border-left: none;
    border-top: 1px solid #DDDFE0;
    padding: 25px 15px;

    .step__title {
      margin-bottom: 15px;
    }
  }
  .step .step__list {
    color: #666666;
    padding-left: 5px;
  }
}
@media (max-width: 479px) {
  .step .step__number {
    top: 10px;
    right: 10px;
    width: 20px;
  }
  .step .step__left {
    padding: 40px 10px 25px;
  }
  .step .step__right {
    padding: 25px 10px;
  }
  .step .step__list {
    gap: 5px;
  }
  .step .step__img {
    top: -8px;
  }
}