/*team*/
.team {
	padding-top: 0;
	margin-top: 10px;

	.team__content {
		min-height: 780px;
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding-small) - 20px);
		padding: var(--padding-medium) 0; 

		.head-content {
			padding-top: 110px;
		}
	}
	.team__subtitle {
		max-width: 980px;
	}
	.team__details {
		border-radius: 4px;
		background: rgba(248,248,248,.05);
		border: 1px solid #DDDFE0;
		backdrop-filter: blur(8px);
		padding: 65px 20px 30px;
		display: flex;
		align-items: flex-start;
		gap: 15px;
		max-width: 810px;
		width: 100%;
		position: relative;
	}
	.team_inner {
		display: flex;
		flex-direction: column;
    	align-items: flex-start;
		gap: 20px;
		width: 72%;
	}
	.team__img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;

		img {
			max-height: 100%;
		}
	}
	.link {
		gap: 35px;
		justify-content: flex-start;
	}
	.team__name {
		font-size: 24px;
		line-height: 120%;
		font-weight: 600;
		font-family: var(--font-second);
		width: calc(28% - 15px);
	}
	.team__desc {
		font-size: 16px;
		line-height: 120%;
		color: var(--gray);
	}
	.team__bg {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: hidden;
	    display: inline-flex;
	    justify-content: center;
	    align-items: center;
	    background: #dbdbdb;
	    border-radius: 4px;
	    z-index: 1;

	    .team__bg-cover {
	    	position: absolute;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	display: inline-flex;
	    	justify-content: center;
	    	align-items: flex-end;
	    	overflow: hidden;

	    	&::before {
	    		content: "";
	    		position: absolute;
	    		top: 0;
	    		left: 0;
	    		right: 0;
	    		background: linear-gradient(to bottom, #dbdbdb, transparent);
	    		height: 10%;
	    	}

	    	picture {
	    		align-items: flex-end;
	    	}
	    	img {
		      	min-width: 100%;
		      	object-fit: cover;
	    	}
	    }
		.head-content {
			position: absolute;
			top: var(--padding-medium);
			max-width: var(--max-width);
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding: 0 30px;
			z-index: 12;
		}
	}
}
@media (min-width: 1921px) {
	.team .team__content {
		min-height: 940px;
	}
}
@media (max-width: 1600px) {
	.team .team__name {
		font-size: 20px;
	}
	.team .team__img {
		height: 80px;
	}
	.team .team_inner {
		gap: 15px;
	}
	.team .team__desc {
		font-size: 14px;
	}
	.team .link {
		gap: 25px;
	}
	.team .team__details {
	    padding: 55px 20px 20px;
	    max-width: 720px;
	}
	.team .team__content {
		min-height: 660px;
	}
	.team .team__content .head-content {
    padding-top: 90px;
	}
	.team .team__subtitle {
    	max-width: 880px;
	}
}
@media (max-width: 1199px) {
	.team .team__img {
		height: 70px;
	}
	.team .team__name {
		font-size: 18px;
	}
	.team .team__details {
		padding: 47px 15px 15px;
	}
	.team .team__content .head-content {
		padding-top: 75px;
	}
	.team .team__subtitle {
		max-width: 780px;
	}
	.team .team__content {
		min-height: 560px;
	}
}
@media (max-width: 991px) {
	.team .team__content .head-content {
		padding-top: 60px;
	}
	.team .team__details {
		padding: 47px 10px 15px;
	}
	.team .team__content {
		min-height: 520px;
	}
	.team .team__bg .head-content {
		padding: 0 20px;
	}
}
@media (max-width: 767px) {
	.team .team__wrap {
		display: flex;
    	flex-direction: column-reverse;
	}
	.team .team__content .head-content {
		padding: 0;
	}
	.team .team__bg {
		width: 100%;
		position: relative;
		padding-top: var(--padding-small);
		padding-bottom: var(--padding-small);
		min-height: 220px;
        align-items: flex-start;
	}
	.team .team__bg .head-content {
		position: relative;
		top: auto;
		padding: 0 15px;
	}
	.team .team__content {
		min-height: 100%;
		padding-top: 20px;
		padding-bottom: 0;
		gap: 40px;
	}
	.team .team__details {
		flex-direction: column;
	}
	.team .team_inner {
		width: 100%;
		gap: 10px;
	}
	.team .team__name {
		width: 100%;
		margin-bottom: 25px;
	}
}
@media (max-width: 479px) {
	.team .team__bg .head-content {
		padding: 0 10px;
		max-width: 280px;
		margin-left: 0;
	}
	.team .team__img {
		height: 60px;
	}
    .team .team__details {
        padding: 37px 10px 10px;
    }
    .team .team__bg {
    	min-height: 190px;
    	border-radius: 0;
    }
    .team .link {
    	justify-content: space-between;
    }
}