/*tech*/
.tech {
	.tech__content {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.tech__grid {
		display: flex;
		gap: 15px;
		width: 100%;
	}
	.tech__item {
		width: 37%;
		border-radius: 4px;
		border: 1px solid #DDDFE0;
		padding: 64px 20px 30px 20px;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}
	.tech__item--1 {
		.tech__item-img {
			right: 50px;
			top: -1px;
		}
	}
	.tech__item--2 {
		.tech__item-img {
			top: -1px;
			right: 126px;
		}
	}
	.tech__item-img {
		position: absolute;
		z-index: -1; 

		img {
			max-height: 100%;
		}
	}
	.tech__item-title {
		font-size: 24px;
		line-height: 110%;
		font-family: var(--font-second);
		font-weight: 600;
		text-align: right;
		margin-bottom: 90px;
	}
	.tech__item-text {
		width: 100%;
		color: var(--gray);
		font-size: 16px;
		line-height: 120%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 460px;

		ul {
			padding-left: 20px;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
	.tech__cta {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 20px;
		border-radius: 4px;
		background: #F8F8F8;
		border: 1px solid #DDDFE0;
		padding: 34px;
		width: 26%;
		position: relative;
	}
	.tech__cta-media {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		border-radius: inherit;
		display: flex;
		align-items: center;
		justify-content: center;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 67.66%);
		}
	}
	.tech__cta-title {
		color: #fff;
		font-size: 24px;
		line-break: 110%;
		font-family: var(--font-second);
		font-weight: 600;
		position: relative;
		z-index: 12;
	}
}
@media (max-width: 1600px) {
	.tech .tech__item {
		padding: 54px 20px 20px 20px;
	}
	.tech .tech__item--1 .tech__item-img {
		height: 80px;
		right: 40px;
	}
	.tech .tech__item--2 .tech__item-img {
		height: 105px;
		right: 105px;
	}
	.tech .tech__item-title {
		font-size: 20px;
		margin-bottom: 70px;
	}
	.tech .tech__item-text {
		font-size: 14px;
	}
	.tech .tech__item-text ul {
		gap: 4px;
	}
	.tech .tech__cta {
		padding: 28px;
	}
	.tech .tech__cta-title {
		font-size: 20px;
	}
	.tech .tech__content {
		gap: 30px;
	}
}
@media (max-width: 1440px) {
	.tech .tech__item-title {
		font-size: 18px;
	}
	.tech .tech__cta {
		padding: 20px;
	}
	.tech .tech__cta-title {
		font-size: 18px;
	}
}
@media (max-width: 1199px) {
	.tech .tech__item--1 .tech__item-img {
		height: 70px;
		right: -1px;
	}
	.tech .tech__item--2 .tech__item-img {
		height: 95px;
		right: 95px;
	}
	.tech .tech__item {
		padding: 47px 15px 15px 15px;
	}
	.tech .tech__item-title {
		margin-bottom: 40px;
	}
	.tech .tech__item-text br {
		display: none;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.tech .tech__item {
		align-items: flex-end;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.tech .tech__item {
		padding: 47px 10px 15px 10px;
	}
	.tech .tech__item-title {
		font-size: 17px;
	}
	.tech .tech__cta-title {
		font-size: 17px;
	}
	.tech .tech__item {
		width: 33.33%;
	}
	.tech .tech__cta {
		width: 33.33%;
		padding: 15px;
	}
}
@media (max-width: 767px) {
	.tech .head-content {
		gap: var(--padding-small);
	}
	.tech .tech__grid {
		gap: 10px;
		flex-direction: column;
	}
	.tech .tech__item {
		width: 100%;
	}
	.tech .tech__item-title {
		margin-bottom: 35px;
	}
	.tech .tech__cta {
		width: 100%;
		height: 300px;
		align-items: flex-start;
	}
	.tech .tech__cta-title {
		max-width: 250px;
	}
}
@media (max-width: 479px) {
	.tech .tech__content {
		gap: 20px;
	}
	.tech .tech__item--1 .tech__item-img {
		top: -10px;
	}
	.tech .tech__item--2 .tech__item-img {
		top: -10px;
	}
	.tech .tech__item {
		padding: 38px 10px 15px 10px;
	}
	.tech .tech__cta {
		width: auto;
		margin-left: -10px;
		margin-right: -10px;
		border: none;
		border-radius: 0;
		padding: 20px 10px;
	}
	.tech .button--primary {
		width: 100%;
	}
}