/*turnkey-homes*/
.turnkey-homes {
	position: relative;

	.turnkey-homes__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		max-width: 620px;
		padding-right: 15px;
		padding-bottom: 75px;
	}
	.head-content {
    gap: calc(var(--padding-medium) - 20px);
	}
	.breadcrumbs {
		margin: 0;
	}
	.section-bg__overlay {
		background: #F8F8F8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    overflow: hidden;
    border-radius: 4px;
    z-index: -1;
	}
	.turnkey-homes__images {
		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 10px;
		width: 58%;
    z-index: 12;
    display: flex;
    gap: 15px;
	}
	.turnkey-homes__image {
		border: 1px solid #D6D6D6;
		border-radius: 2px;
		overflow: hidden;

		&:first-child {
			width: 70%;;
		}
		&:last-child {
			width: calc(30% - 15px);

			img {
		    object-position: left;
			}
		}
	}
}
@media (min-width: 1921px) {
	.turnkey-homes .container {
		position: relative;
	}
	.turnkey-homes .turnkey-homes__images {
		top: -25px;
		right: 30px;
		max-width: 920px;
	}
}
@media (max-width: 1600px) {
	.turnkey-homes .turnkey-homes__content {
		max-width: 560px;
		padding-bottom: 65px;
	}
	.turnkey-homes .turnkey-homes__images {
		width: 56%;
	}
}
@media (max-width: 1440px) {
	.turnkey-homes .turnkey-homes__content {
		max-width: 480px;
		padding-bottom: 50px;
		gap: 30px;
	}
	.turnkey-homes .head-content {
		gap: 30px;
	}
	.turnkey-homes .turnkey-homes__images {
		width: 54%;
	}
}
@media (max-width: 1199px) {
	.turnkey-homes .turnkey-homes__content {
		max-width: 430px;
	}
	.turnkey-homes .turnkey-homes__images {
		width: 50%;
	}
}
@media (max-width: 991px) {
	.turnkey-homes .turnkey-homes__images {
		width: 40%;
		gap: 10px;
	}
	.turnkey-homes .turnkey-homes__image:first-child {
		width: 100%;
	}
	.turnkey-homes .turnkey-homes__image:last-child {
		display: none;
	}
}
@media (max-width: 767px) {
	.turnkey-homes .turnkey-homes__content {
		padding-bottom: 20px;
		padding-right: 0;
		max-width: 100%;
	}
	.turnkey-homes .turnkey-homes__images {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 250px;
	}
	.turnkey-homes .turnkey-homes__image:first-child {
		width: 60%;
	}
	.turnkey-homes .turnkey-homes__image:last-child {
		width: calc(40% - 10px);
		display: block;
	} 
	.turnkey-homes .head-content {
		max-width: 460px;
	}
	.turnkey-homes .section-bg__overlay {
		left: 0;
		right: 0;
	}
}
@media (max-width: 479px) {
	.turnkey-homes .turnkey-homes__content {
		padding-top: 10px;
		gap: 20px;
	}
	.turnkey-homes .turnkey-homes__images {
		height: 180px;
		gap: 5px;
		margin: 0 -10px;
		width: auto;
	}
	.turnkey-homes .turnkey-homes__image:last-child {
    width: calc(40% - 5px);
	}
	.turnkey-homes .head-content {
		gap: 20px;
	}
	.turnkey-homes .head-content {
		max-width: 300px;
	}
}