/*vacancies*/
.vacancies {
	.vacancies__content {
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding-medium) - 40px);
		position: relative;
	}	
	.vacancies__item {
		border-bottom: 1px solid #D6D6D6;
		position: relative;
		transition: .5s;
		padding: 40px 0;
		display: flex;
		flex-wrap: wrap;
		cursor: pointer;

		&:hover {
			border-color: var(--orange);
			
			.vacancies__label {
				color: var(--orange);
			}
			.vacancies__info {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M9 0C9.55229 0 10 0.447715 10 1V8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H10V17C10 17.5523 9.55228 18 9 18C8.44771 18 8 17.5523 8 17V10H1C0.447716 10 4.01084e-07 9.55228 0 9C2.41411e-08 8.44771 0.447715 8 1 8H8V1C8 0.447715 8.44772 0 9 0Z' fill='%23FF6930'/%3E%3C/svg%3E");
				}
			}
		}
		&.active {
			.vacancies__label {
				color: var(--orange);
			}
			.vacancies__info {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M9 0C9.55229 0 10 0.447715 10 1V8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H10V17C10 17.5523 9.55228 18 9 18C8.44771 18 8 17.5523 8 17V10H1C0.447716 10 4.01084e-07 9.55228 0 9C2.41411e-08 8.44771 0.447715 8 1 8H8V1C8 0.447715 8.44772 0 9 0Z' fill='%23FF6930'/%3E%3C/svg%3E");
					transform: rotate(45deg);
				}
			}
		}
	}
	.vacancies__label {
		font-size: 24px;
    line-height: 110%;
    font-weight: 600;
    font-family: var(--font-second);
    position: relative;
    transition: 0.5s;
    width: 32%;
    padding-right: 15px;
	}
	.vacancies__info {
		width: 68%;
		padding-left: 100px;
		padding-right: 65px;
		display: flex;
		flex-direction: column;
		gap: 25px;

		&::after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M9 0C9.55229 0 10 0.447715 10 1V8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H10V17C10 17.5523 9.55228 18 9 18C8.44771 18 8 17.5523 8 17V10H1C0.447716 10 4.01084e-07 9.55228 0 9C2.41411e-08 8.44771 0.447715 8 1 8H8V1C8 0.447715 8.44772 0 9 0Z' fill='black'/%3E%3C/svg%3E");
			background-size: contain;
			background-position: center;
			width: 18px;
			height: 18px;
			position: absolute;
			top: 47px;
			right: 0;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
		}
	}
	.vacancies__descr {
		font-size: 24px;
		line-height: 120%;
		color: var(--gray);
	}
	.vacancies__details {
		display: none;
	}
	.vacancies__details-inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
		font-size: 20px;
		line-height: 110%;

		ul {
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			margin: 0;
		}
	}
	.vacancies__details-prices {
		display: flex;
		align-items: baseline;
		gap: 5px;
		font-size: 16px;
		line-height: 110%;
		color: #000;
	}
	.vacancies__details-price {
		font-size: 40px;
		line-height: 100%;
	}
	.button--primary {
		min-width: 180px;
	}
}
@media (max-width: 1600px) {
	.vacancies .vacancies__content {
    gap: calc(var(--padding-medium) - 30px);
	}	
	.vacancies .vacancies__label {
		font-size: 20px;
	}
	.vacancies .vacancies__info {
		padding-right: 55px;
		padding-left: 80px;
	}	
	.vacancies .vacancies__descr {
		font-size: 20px;
	}
	.vacancies .vacancies__item {
		padding: 30px 0;
	}
	.vacancies .vacancies__details-inner {
		gap: 20px;
		font-size: 18px;
	}
	.vacancies .vacancies__details-prices {
		font-size: 14px;
	}
	.vacancies .vacancies__details-price {
		font-size: 34px;
	}
	.vacancies .button--primary {
    min-width: 160px;
	}
	.vacancies .vacancies__info::after {
		top: 37px;
	}
}
@media (max-width: 1440px) {
	.vacancies .vacancies__content {
    gap: 30px;
	}	
	.vacancies .vacancies__descr {
		font-size: 18px;
	}
	.vacancies .vacancies__label {
		font-size: 18px;
		width: 35%;
	}
	.vacancies .vacancies__info {
		padding-left: 50px;
		width: 65%;
	}
	.vacancies .vacancies__details-inner {
		gap: 15px;
		font-size: 16px;
	}
	.vacancies .vacancies__details-price {
		font-size: 30px;
	}
}

@media (max-width: 1199px) {
	.vacancies .vacancies__descr {
		font-size: 16px;
	}
	.vacancies .vacancies__label {
		font-size: 16px;
		width: 37%;
	}
	.vacancies .vacancies__info {
		padding-left: 15px;
		padding-right: 30px;
		width: 63%;
	}
	.vacancies .vacancies__details-inner {
		font-size: 14px;
	}
	.vacancies .vacancies__item {
		padding: 25px 0;
	}
}
@media (max-width: 991px) {
	.vacancies .vacancies__item {
		padding: 20px 0;
	}
	.vacancies .vacancies__info::after {
		top: 27px;
	}
}
@media (max-width: 767px) {
	.vacancies .vacancies__content {
		gap: 10px;
	}
	.vacancies .vacancies__item {
		flex-direction: column;
		gap: 15px;
	}
	.vacancies .vacancies__label {
		width: 100%;
		padding-right: 30px;
	}
	.vacancies .vacancies__info {
		width: 100%;
		padding: 0;
	}
	.vacancies .vacancies__info::after {
		top: 20px;
	}
}
@media (max-width: 479px) {
	.vacancies .vacancies__descr {
		font-size: 14px;
	}
	.vacancies .vacancies__info {
		gap: 20px;
	}
}